/*
 * Contenidos principales
*/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    font-family: "Century Gothic";
    color: #3e3947;
    background-color: white;
    padding: 0px !important;
    overflow-x: hidden;
}

body,
html {
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.container-fluid {
    padding: 0;

}

p {
    margin: 0;
}

.row {
    margin: 0;
}

.col-4,.col-6{
    padding: 0;
}

/*logo y el heard*/
#titulo {
    background-color: #1bd1c7;
    height: 10vh;
    padding-top: 0.5rem;

}

#logo {
    cursor: pointer;
    height: 45px;
    padding: 0.5rem 0.2rem;
   
}

#content{
    text-align: right;
    padding-top: 0.5rem;
   
}

.nombretabla{
    text-align: center;
}


#cerrar, #Nuevo {

    border: none;
    color: #fff;
    background: #00ADC1;
    border-radius: 10px;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
    padding: 0.3rem 0.2rem;
    font-size: 15px;
    padding-bottom: 0.5rem;
   
}

.btn{
    background-color: #00ADC1;
    margin-left: 0.5rem;
    color: white;
    border: none;
    outline: 0;
   
}

#cerrar:active,
#cerrar:focus,
#cerrar:hover,
.btn:active,
.btn:hover,
.btn:focus,
#Nuevo:active,
#Nuevo:focus,
#Nuevo:hover{
    outline: 0;
    border: 0;
    color: black;
    
}

/*menu*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:#1bd1c7 ;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar-header{
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    
 
}

.sidenav a {
  padding: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
 background-color: #00ADC1;
}

#este {
  color: #f1f1f1;
 background-color: #00ADC1;
}

#closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: transparent;
}

/*contenido de la pagina*/

#contenido-arriba{
    padding: 1rem;
}


#card-total{
    padding-top: 2rem;
    text-align: center;
}

#boton-nuevo{
    text-align: center;
}


#contenedor-bajo{
    padding: 0 1.5rem;
}


/*footer*/

#footer1 {
    background-color: #1bd1c7;
    color: #3C3F41;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}


#footer1 img {
    max-width: 3%;
   
}

#footer1 img:hover {
    color: #02635A;
}

.terminos {
    color: #fff;
}

.terminos a {
    color: #fff;
    text-decoration: none;
}

.terminos a:hover {
    color: #02635A;

}

@media(min-width:768px) {
    
    .table-responsive{
        display: inline-table;
    }

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
