/*
 * Contenidos principales
*/

html {

    scroll-behavior: smooth !important;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    font-family: "Century Gothic";
    color: #3e3947;
    background-color: white;
    padding: 0px !important;
    margin: 0px !important;
    overflow-x: hidden;
}

body,
html {
    height: 100vh;
    margin: auto;
    width: 100vw;
}


p,h5 {
    margin: 0;
}

/*la cabecera*/


#logo {
    cursor: pointer;
    max-height: 14%;
    padding:1rem 1.6rem;
    

}

.col-2{
    padding: 0;
    margin: 0;
}

/*primera section de con la imagen*/

#banner {
    width: 100%;
    height: 100vh;
    background-image: url(../css/Imagenes/power-plant-1366698_1920.jpg);
    background-position: left center;
    /*Centra la imagen al centro horizontalmente y arriba verticalmente.*/
    background-repeat: no-repeat;
    /*Hace que no se repita la imagen (En el caso de que fuese muy pequeña).*/
    background-attachment: fixed;
    /*Hace que la imagen ocupe todo el contenedor./ /Escala la imagen al mayor tamaño posible sin estirarla. Si las proporciones difieren de las del elemento,
    es recortada vertical u horizontalmente.*/
    background-size: cover;
    margin: 0;

}


#banner h2 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;

}

#banner p {

    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

#bot {
    text-align: center;
    padding: 1rem;
}

.botonesForm{
    display: flex;
    justify-content: flex-end;
}

.boton {

    border: none;
    color: #fff;
    background: #1bd1c7;
    border-radius: 0.5rem;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;

}


.boton:hover {
    background-color: #02635A;
    color: white;
    text-decoration: none;
    outline: 0;
}

.botonPrincipal{
    font-size: 1.5rem;
}

.titulosSecciones{
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

/*segunda section, explicacion del producto*/

#ex h2, #cont h2{
    color: #1bd1c7;
}

.separacionClases{
    padding: 2.3rem;
}

#explicar {
    text-align: center;
    height: auto;
}

#explicar h6{
    font-size: 1.3rem;
}

#explicar div {
    margin-bottom: 2rem;
}

#explicar img {
    max-height: 5rem;
}

/*section de la explicación de los gases*/
#gases{
    background-color: #1bd1c7;
}

#gases h2{
    color: white;
}

#rowOzono {
    text-align: center;
    padding: 1rem;
}

.boton_InfoExtra {
  max-height: 10rem;
  margin-bottom: 2rem;
}

.boton_InfoExtra:hover{
    opacity: 0.6;
    cursor: pointer;
    
}

#body_modal_masinfo {
    width: 100%;
}

.img_modal_masinfo {
    width: 100%;
}

/*section de la explicación de los gases apartado para mostrar más en el modal de 03*/ 
#mostrarMas_comprobar03 {
    cursor: pointer;
}

#mostrarMas_comprobar03 {
    display: none;
}

#mostrarMas_comprobar03:not(:checked) ~ #mostrarMas_texto03 {
    display: none;
}

#mostrarMas_comprobar03:checked ~ #mostrarMas_texto03_comprimido {
    display: none;
}

#mostrarMas_comprobar03:not(:checked) ~ #mostrarMas_estado03 .mostrarMas_Activo03 {
    display: none;
}

#mostrarMas_comprobar03:checked ~ #mostrarMas_estado03 .mostrarMas_noActivo03 {
    display: none;
}

#mostrarMas_div03 .mostrarMas_noActivo03,
#mostrarMas_div03 .mostrarMas_Activo03 {
    display: block;
    cursor: pointer;
    color: #2196f3;
}

#mostrarMas_div03 .mostrarMas_noActivo03:hover,
#mostrarMas_div03 .mostrarMas_Activo03:hover {
    text-decoration: underline;
}

/*section de la explicación de los gases apartado para mostrar más en el modal de SO2*/ 
#mostrarMas_comprobarSO2 {
    cursor: pointer;
}

#mostrarMas_comprobarSO2 {
    display: none;
}

#mostrarMas_comprobarSO2:not(:checked) ~ #mostrarMas_textoSO2 {
    display: none;
}

#mostrarMas_comprobarSO2:checked ~ #mostrarMas_textoSO2_comprimido {
    display: none;
}

#mostrarMas_comprobarSO2:not(:checked) ~ #mostrarMas_estadoSO2 .mostrarMas_ActivoSO2 {
    display: none;
}

#mostrarMas_comprobarSO2:checked ~ #mostrarMas_estadoSO2 .mostrarMas_noActivoSO2 {
    display: none;
}

#mostrarMas_divSO2 .mostrarMas_noActivoSO2,
#mostrarMas_divSO2 .mostrarMas_ActivoSO2 {
    display: block;
    cursor: pointer;
    color: #2196f3;
}

#mostrarMas_divSO2 .mostrarMas_noActivoSO2:hover,
#mostrarMas_divSO2 .mostrarMas_ActivoSO2:hover {
    text-decoration: underline;
}

/*section de la explicación de los gases apartado para mostrar más en el modal*/ 
#mostrarMas_comprobarNO2 {
    cursor: pointer;
}

#mostrarMas_comprobarNO2 {
    display: none;
}

#mostrarMas_comprobarNO2:not(:checked) ~ #mostrarMas_textoNO2 {
    display: none;
}

#mostrarMas_comprobarNO2:checked ~ #mostrarMas_textoNO2_comprimido {
    display: none;
}

#mostrarMas_comprobarNO2:not(:checked) ~ #mostrarMas_estadoNO2 .mostrarMas_ActivoNO2 {
    display: none;
}

#mostrarMas_comprobarNO2:checked ~ #mostrarMas_estadoNO2 .mostrarMas_noActivoNO2 {
    display: none;
}

#mostrarMas_divNO2 .mostrarMas_noActivoNO2,
#mostrarMas_divNO2 .mostrarMas_ActivoNO2 {
    display: block;
    cursor: pointer;
    color: #2196f3;
}

#mostrarMas_divNO2 .mostrarMas_noActivoNO2:hover,
#mostrarMas_divNO2 .mostrarMas_ActivoNO2:hover {
    text-decoration: underline;
}

/*section de la explicación de los gases apartado para mostrar más en el modal*/ 
#mostrarMas_comprobarCO {
    cursor: pointer;
}

#mostrarMas_comprobarCO {
    display: none;
}

#mostrarMas_comprobarCO:not(:checked) ~ #mostrarMas_textoCO {
    display: none;
}

#mostrarMas_comprobarCO:checked ~ #mostrarMas_textoCO_comprimido {
    display: none;
}

#mostrarMas_comprobarCO:not(:checked) ~ #mostrarMas_estadoCO .mostrarMas_ActivoCO {
    display: none;
}

#mostrarMas_comprobarCO:checked ~ #mostrarMas_estadoCO .mostrarMas_noActivoCO {
    display: none;
}

#mostrarMas_divCO .mostrarMas_noActivoCO,
#mostrarMas_divCO .mostrarMas_ActivoCO {
    display: block;
    cursor: pointer;
    color: #2196f3;
}

#mostrarMas_divCO .mostrarMas_noActivoCO:hover,
#mostrarMas_divCO .mostrarMas_ActivoCO:hover {
    text-decoration: underline;
}

/*Section de contactos*/

#separadorVertical{
    max-height: 35rem;
}

.justificacion{
    display: none;
}

/* XL COLUMNS */
@media (min-width: 1140px) {
    .justificacion{
        display: flex;
        justify-content: center;
    }
}

/* SM COLUMNS */
@media (max-width: 1200px) {
    .justificacion{
        display: none;
    }
}

#cont {

    padding: 2.3rem;

}

#cont .row .contenedor-recuperar {
    text-align: center;
}

.formTexto {
    text-align: start !important;
}

.formTexto h6, .contenedor-recuperar h5{
    font-weight: bold;
}

#cont .row .contenedor-recuperar iframe {}

#formulario{
    text-align: center;
}

.campoW {

    border: 2px solid #1bd1c7;
    width: 100%;
    border-radius: 10px;

}

.campoW:focus {
    border: 2px solid #00ADC1;
    outline: 0;
}

textarea {

    border: 2px solid #1bd1c7;
    width: 100%;
    height: 8rem;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 10px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}


textarea:focus {
    outline: 0;
    border: 2px solid #00ADC1;

}



.boton-mas-info {

    border: none;
    color: #fff;
    background: #00ADC1;
    border-radius: 10px;
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 0.2rem;
    font-size: 16px;
}

.boton-mas-info:active,
.boton-mas-info:focus,
.boton-mas-info:hover{
    outline: 0;
    border: none;
    color: black;
}

/* Clear floats after the columns */
.row:after {

    clear: both;
    display: table;
    content: "";
}

/*la parte del footer*/

#footer1 {
    background-color: #1bd1c7;
    font-weight: bold;
    color: white;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;

}

#footer1 img {
    max-width: 3rem;
    padding: 0.3rem;
}

#footer1 img:hover {
    opacity: 0.8;
}

.terminos {
    color: white;
}


.terminos a {
    color: white;
    text-decoration: none;

}

.terminos a:hover {
    opacity: 0.8;

}

.separacionItems{
    padding: 0.5rem;
}

/*
@media screen and (min-width:2085px) {








    .campoW::placeholder,
    textarea::placeholder {}

    #cont {}



}

@media screen and (max-width:2085px) {



    .campoW::placeholder,
    textarea::placeholder {}

    #cont {}


}



@media screen and (max-width:1640px) {
    
}



@media screen and (min-width:1250px) {
    #banner h2 {
        
        font-size: 50px;

    }

    #banner p {

        font-size: 39px;
    }

    #bot {
    
        padding: 1.5rem;
    }

}




@media screen and (max-width:770px) {



    #footer1 p,
    .terminos a {}



}

@media screen and (max-width:625px) {

    #footer1 p,
    .terminos a {}


}

@media screen and (max-width:576px) {
   
    #banner h2{
        font-size: 30px;
    }
    #banner p{
        font-size: 20px;
    }
    
    #explicar {
    padding: 1rem;
    margin: 0;
    
   }
    

}


@media screen and (max-width:550px) {

    #logo {}

    #banner .contenedor1 {}

    #banner .contenedor2 {}

    #footer1 p,
    .terminos a {}



}

@media screen and (max-width:520px) {



    #banner .contenedor1 {}

    #banner .contenedor2 {}

    #footer1 p,
    .terminos a {}



}

@media screen and (max-width:500px) {



    #banner .contenedor1 {}

    #banner .contenedor2 {}

    #footer1 p,
    .terminos a {}

    #banner .contenedor2 .boton {}



}*/
