/*
 * Contenidos principales
*/

html {

    scroll-behavior: smooth !important;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    font-family: "Century Gothic";
    color: #3e3947;
    background-color: white;
    padding: 0px !important;
}

body,
html {
    height: 100vh;
    margin: 0;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.container-fluid{
    padding: 0;
    
}

p{
    margin: 0;
}

.row{
    margin: 0;
}

.col-md-6{
    padding: 0;
}
.alert {
    margin-bottom: 0;
}

.contenido{
    /*height: 90%;*/
    display: flex;
    flex-direction: column;
    height: 75vh;
}

.contenidoHijo{
    display: flex;
    height: inherit;
}

/*logo y el heard*/
#titulo{
    background-color: #1bd1c7;
    height: 8vh;
   
}

#logo {
    cursor: pointer;
    max-height: 100%;
    padding: 0rem 1rem;
  
}


/*contenido pagina logIn*/
#nocorrecto{
margin-bottom: 0;    
}

#imagen{
  width: 50vw;
    height: 90vh;
    margin: 0;
}

#iniciar{
    padding: 1rem;
    text-align: center;
    align-self: center;
    justify-content: center;
}

#iniciar a{
    color: #3C3F41;
    text-decoration: underline;
}
.form-control{
    border: 2px solid #1bd1c7;
    border-radius: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group label{
    text-align: left;
    font-weight: bold;
}

.boton {

    border: none;
    color: #fff;
    background: #1bd1c7;
    border-radius: 0.5rem;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;

}


/*+Botones  de panelAdmin*/

#cerrar,
#btnInicioSesion,
#contacto,
#panel,
#panel2,
#user {
    background-color: #00adc1;
    border: 1px solid #3C3F41;
    border-radius: 10px;
    color: white;
    text-align: right;
    text-decoration: none;
    padding: .5rem;
    margin: 1rem;
    word-spacing: normal;
    display: inline;
}

#dialogoInicioSesionLabel {
    margin-left: 30%;
}

/*
 * Cuerpo de la pagina
*/

.contenidoHijo h1{
    font-weight: bold;
    color: #1bd1c7;
}

.notificacion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.informacion {
    flex: 1;
    text-align: center;
    margin-top: 5rem;
}


.tabla-disposicion {
    display: block;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

#footer1 {
    background-color: #1bd1c7;
    font-weight: bold;
    color: white;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    
    position: absolute;
    bottom: 0;

}

#footer1 img {
    max-width: 3rem;
    padding: 0.3rem;
}

#footer1 img:hover {
    opacity: 0.8;
}

.terminos {
    color: white;
}


.terminos a {
    color: white;
    text-decoration: none;

}

.terminos a:hover {
    opacity: 0.8;

}

.separacionItems{
    padding: 0.5rem;
}

@media screen and (max-width:768px) {

    #imge{
        width: 0;
    }
    #imagen{
        width: 0;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }

}

