/*
 * Contenidos principales
*/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {

    font-family: "Century Gothic";
    color: #3e3947;
    background-color: white;
    padding: 0px !important;
    overflow-x: hidden;
}

body,
html {
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
}

p{
    margin: 0;
}

/*logo y el heard*/
#titulo{
    background-color: #1bd1c7;
    height: 8vh;
   
}

#logo {
    cursor: pointer;
    max-height: 100%;
    padding:0 1rem;
  
}

/*Mapa*/

#map{
    width: 100%;
    height: 92vh;
    overflow: hidden;
    z-index: 0;
    position: absolute;
    left: 0px;
}

.scrollbar-personalizada{
    position: relative;
    height: 70vh;
    margin-top: .5rem;
    overflow: auto;
}

.gmnoprint{
    display: none;
}

/* Selectores */
.selectoresFila{
    display: flex;
    z-index: 1;
    position: absolute;
    left: 0;
}

.desplegable{
    background-color: #1bd1c7;
    border-color: #16b4ac;
}

.desplegable:focus, .desplegable:hover, .desplegable:active{
    background-color: #049284;
}

.show>.desplegable{
    background-color: #049284 !important;
    box-shadow: none !important;
}

/* Floating button */
.fav-container{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 1;
    cursor: pointer;
}

.fab-icon-holder{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: #1bd1c7;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover{
    background: #049284;
}

.fab-icon-holder i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: 1.5rem;
    font-size: 1.5rem;
    color: white;
}

.fab{
    width: 3.5rem;
    height: 3.5rem;
    background: #1bd1c7;
}

.fab-options{
    list-style-type: none;
    margin: 0;
    position: absolute;
    bottom: 4rem;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 85% bottom;
}

.fab:hover + .fab-options, .fab-options:hover{
    opacity: 1;
    transform: scale(1);
}

.fab-options li{
    display: flex;
    justify-content: flex-end;
    padding: 0.2rem;
}

.fab-label{
    padding: 0.2rem 0.3rem;
    align-self: center;
    user-select: none;
    white-space: nowrap;
    border-radius: 0.2rem;
    font-size: 1rem;
    background: #666666;
    color: white;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
    margin-right: 1rem;
}

.desactivado{
    background: grey;
}

.desactivado:hover{
    background: rgb(83, 83, 83);
}

.terminos {
    color: #fff;
}

.terminos a {
    color: #fff;
    text-decoration: none;
}

.terminos a:hover {
    color: #02635A;

}

/*menu*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#1bd1c7 ;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-header{
      padding: 1rem;
      text-align: center;
      font-size: 1.5rem;
      color: white;
      
   
  }

.selectorFecha{
    background: #1bd1c7;
    border: 0;
    font-size: 1rem;
    padding: 0.35rem;
    border-radius: 0.25rem;
    color: white;
}

.selectorFecha:hover{
    opacity: 0.5;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type=date], ::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field {
	color: white;
}
  
  .sidenav a {
    padding: 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  
  #este {
    color: #f1f1f1;
    background-color: #00ADC1;
       cursor: default;
  }
  
  .sidenav a:hover{
      color: #f1f1f1;
    background-color: #00ADC1;
  }
  
  
  
  #closebtn{
    font-size: 3.1rem;
    max-height: 8vh;
    padding: 0;
    padding-right: 1rem;
    text-align: end;
    background-color: transparent;
  }
  
  #closebtn:hover{
      opacity: 0.5;
  }

  /*logo y el heard*/
#titulo{
    background-color: #1bd1c7;
    justify-content: space-between;
    height: 8vh;
   
}

#logo {
    cursor: pointer;
    height: 8vh;
    padding: 0rem 1rem;
  
}

#content{
    text-align: right;
    padding-top: 1.5rem;
    height: 10vh;
    padding-right: 2rem;
    
   
}

#Nuevo {

    border: none;
    color: #fff;
    background: #00ADC1;
    border-radius: 10px;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
    padding: 0.3rem 0.2rem;
    font-size: 15px;
    padding-bottom: 0.5rem;
   
}

.boton {
    border: none;
    color: #fff;
    background: #1bd1c7;
    border-radius: 0.5rem;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
}

.boton:hover {
    background-color: #02635A;
    color: white;
    text-decoration: none;
    outline: 0;
}

.botonBlanco{
    background: white;
    color: #1bd1c7;
    height: 5vh;
}

.menusBotones{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnDesplegable{
    background-color: #1bd1c7;
    margin-left: 0.5rem;
    color: white;
    border: none;
    outline: 0;
    font-size: 1.7rem;
}

.btnDesplegable:hover{
    opacity: 0.5;
}

#Nuevo:active,
#Nuevo:focus,
#Nuevo:hover{
    outline: 0;
    border: 0;
    color: black;
    
}

/* responsive*/
@media screen and (min-width:1500px) {


}


@media screen and (max-width:1250px) {



}

@media screen and (max-width:1100px) {




}


@media screen and (max-width:850px) {


}

@media screen and (max-width:770px) {


}

@media screen and (max-width:625px) {



}

@media screen and (max-width:580px) {



}


@media screen and (max-width:550px) {


}
