/*
 * Contenidos principales
*/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    font-family: "Century Gothic";
    color: #3e3947;
    background-color: white;
    padding: 0px !important;
}

body,
html {
    height: 100vh;
    margin: 0;
    width: 100vw;
    /*overflow: hidden;*/
    overflow-x: hidden;
    position: relative;
}

.table-hover thead{
    background-color:#1bd1c7 ;
    border-color: #1bd1c7;
    color: white;
}

.table-hover thead:hover{
    background-color:#1bd1c7 ;
    border-color: #1bd1c7;
    color: white;
}

.table-hover .table-primary:hover{
    background-color:#1bd1c7 ;
    border-color: #1bd1c7;
    color: white;
}

.colorPrincipalCabezaTabla:hover{
    opacity: 0.8;
}

.container-fluid {
    padding: 0;
    

}



p {
    margin: 0;
}

.row {
    margin: 0;
}

.col-4,.col-6{
    padding: 0;
}

/*logo y el heard*/
#titulo{
    background-color: #1bd1c7;
    justify-content: space-between;
    height: 8vh;
   
}

#logo {
    cursor: pointer;
    height: 8vh;
    padding: 0rem 1rem;
  
}

#content{
    text-align: right;
    padding-top: 1.5rem;
    height: 10vh;
    padding-right: 2rem;
    
   
}

#Nuevo {

    border: none;
    color: #fff;
    background: #00ADC1;
    border-radius: 10px;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
    padding: 0.3rem 0.2rem;
    font-size: 15px;
    padding-bottom: 0.5rem;
   
}

.boton {
    border: none;
    color: #fff;
    background: #1bd1c7;
    border-radius: 0.5rem;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
}

.boton:hover {
    background-color: #02635A;
    color: white;
    text-decoration: none;
    outline: 0;
}

.botonBlanco{
    background: white;
    color: #1bd1c7;
    height: 5vh;
}

.menusBotones{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.btn{
    background-color: #1bd1c7;
    margin-left: 0.5rem;
    color: white;
    border: none;
    outline: 0;
    font-size: 1.7rem;
}

.btn:hover{
    opacity: 0.5;
}

#Nuevo:active,
#Nuevo:focus,
#Nuevo:hover{
    outline: 0;
    border: 0;
    color: black;
    
}

/*menu*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:#1bd1c7 ;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

.sidebar-header{
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    
 
}

.sidenav a {
  padding: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  display: block;
  transition: 0.3s;
}


#este {
  color: #f1f1f1;
  background-color: #00ADC1;
     cursor: default;
}

.sidenav a:hover{
    color: #f1f1f1;
  background-color: #00ADC1;
}



#closebtn{
  font-size: 3.1rem;
  max-height: 8vh;
  padding: 0;
  padding-right: 1rem;
  text-align: end;
  background-color: transparent;
}

#closebtn:hover{
    opacity: 0.5;
}

/*contenido de la pagina de Usuarios*/

#inact{
padding: 1.5rem;    
}

#inact h5{
    padding: 1rem;
    padding-left: 0;
    font-weight: bold;
}

#card-total{
    
    text-align: center;
    padding: 1rem;
    align-self: center;
    
}

.card{
  
    text-align: center;
    height: 60%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-body{
    padding: 1rem;
    
}

.card-body h5, .card-body h6{
    font-weight: bold;
}

#buscar{
    align-self: flex-end;
    padding: 1.5rem;
}

#boton-nuevo{
    text-align: center;
}


#contenedor-bajo{
    padding: 0 1.5rem;
}

.scrollbar-personalizada{
    position: relative;
    height: 50vh;
    margin-top: .5rem;
    overflow: auto;
}

.correo-todo{
    background-color: transparent;
    border: none;
}

.cancelar{
    background-color: #00545E;
    color: white;
}

.cancelar:hover{
    opacity: 0.8;
    color: white;
}



/*Contenido pagina de Nodos*/
.table tr{
    text-align: center;
}

.table tr .row{
   justify-content: center;
}

.separacion{
    padding: 1.5rem;
}

#infoNodo h2{
    padding: 1rem;
}

.scrollbar-personalizada2{
    position: relative;
    height: 30vh;
    margin-top: .5rem;
    overflow: auto;
}

#popChart{
    padding: 1rem;
}
/*pagina tipos*/
.scrollbar-personalizada3{
    position: relative;
    height: 35vh;
    margin-top: .5rem;
    overflow: auto;
}

.formularioBusqueda{
    justify-content: flex-end;
}

.campoW {
    border: 2px solid #1bd1c7;
    width: 100%;
    border-radius: 10px;
}